<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <title>Form Input Template</title>
    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!--<script src="../static/js/bootstrap.min.js"></script>-->
    <!--<script src="../static/js/jquery-3.3.1.slim.min.js"></script>-->
    <!--<script src="../static/js/popper.min.js"></script>-->
  </head>
  <body>
    <div id="banner" class="container">
      <h1 class="display-4">Teaching Begins in 60 seconds!</h1>
    </div>
    <div class="container">
      <form action="{{ url_for('process_inputs') }}" method="post">
        <div class="form-group">
          <label for="input_name">BattleTag</label>
          <input type="text" class="form-control" name="input_name"  id="input_name" placeholder="JeffKap#12345">
        </div>
        <div class="form-group">
          <label for="input_dropdown">Prefered role</label>
          <select class="form-control" name="input_dropdown" id="input_dropdown">
            <option>None</option>
            <option>Off Tank</option>
            <option>Main Tank</option>
            <option>Hitscan DPS</option>
            <option>Projectile DPS</option>
            <option>Off Healer</option>
            <option>Main Healer</option>
          </select>
        </div>
        <div class="form-group">
          <label for="input_select">Favorite character</label>
          <select multiple class="form-control" name="input_select" id="input_select">
            <option>None</option>
            <option>Ana</option>
            <option>Ashe</option>
            <option>Bastion</option>
            <option>Brigitte</option>
            <option>D.va</option>
            <option>Doomfist</option>
            <option>Genji</option>
            <option>Hanzo</option>
            <option>Junkrat</option>
            <option>Lucio</option>
            <option>Mccree</option>
            <option>Mei</option>
            <option>Mercy</option>
            <option>Moira</option>
            <option>Orisa</option>
            <option>Pharah</option>
            <option>Reaper</option>
            <option>Reinhardt</option>
            <option>Roadhog</option>
            <option>Soldier:76</option>
            <option>Sombra</option>
            <option>Symmetra</option>
            <option>Torbjörn</option>
            <option>Tracer</option>
            <option>Widowmaker</option>
            <option>Winston</option>
            <option>Wrecking Ball</option>
            <option>Zarya</option>
            <option>Zenyatta</option>
          </select>
        </div>
        <div class="form-group">
          <label for="input_freeform">Example textarea</label>
          <textarea class="form-control" name="input_freeform" id="input_freeform" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="container">
      {% if input_data %} {{ input_data }} {% endif %}
      <br />
      {% if output %} {{ output }} {% endif %}
    </div>
  </body>
</html>

